<a href="https://colab.research.google.com/github/Aqui1983/AnthonyQuiles-Venture_Funding_with_Deep_Learning/blob/main/Colab_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
import numpy as np
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.loc[:, ~applicant_data_df.columns.isin(['EIN', 'NAME'])]

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
list(applicant_data_df.dtypes[applicant_data_df.dtypes=='int64'].index)

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [11]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables=['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']
numerical_variables_df = pd.DataFrame(
    applicant_data_df,
    columns=(numerical_variables)
)

joined_encoded_df = pd.concat([encoded_df, numerical_variables_df],axis=1)

# Review the DataFrame
joined_encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = joined_encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = joined_encoded_df.drop(columns=('IS_SUCCESSFUL'))

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)
# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [17]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [18]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  np.ceil(np.sqrt(number_input_features * number_output_neurons))

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

11.0

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  np.ceil(np.sqrt(hidden_nodes_layer1 * number_output_neurons))

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4.0

In [20]:
# Create the Sequential model instance
nn = Sequential()

In [21]:
# Add the first hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer1,
        activation='relu',
        input_dim=number_input_features
    )
)

In [22]:
# Add the second hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer2,
        activation='relu'
    )
)

In [23]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)

In [24]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                1287

 dense_1 (Dense)             (None, 4)                 48

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 1,340
Trainable params: 1,340
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [25]:
# Compile the Sequential model
nn.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [26]:
# Fit the model using 50 epochs and the training data
nn.model=nn.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
804/804 - 3s - loss: 17928.7480 - accuracy: 0.4968 - 3s/epoch - 4ms/step
Epoch 2/50
804/804 - 2s - loss: 4439.5220 - accuracy: 0.4927 - 2s/epoch - 3ms/step
Epoch 3/50
804/804 - 2s - loss: 8457.2988 - accuracy: 0.5079 - 2s/epoch - 3ms/step
Epoch 4/50
804/804 - 2s - loss: 7449.7764 - accuracy: 0.5074 - 2s/epoch - 3ms/step
Epoch 5/50
804/804 - 1s - loss: 24503.0723 - accuracy: 0.5278 - 1s/epoch - 2ms/step
Epoch 6/50
804/804 - 1s - loss: 3585.8713 - accuracy: 0.5161 - 1s/epoch - 1ms/step
Epoch 7/50
804/804 - 1s - loss: 18578.6348 - accuracy: 0.5023 - 1s/epoch - 1ms/step
Epoch 8/50
804/804 - 1s - loss: 15304.5186 - accuracy: 0.5482 - 1s/epoch - 1ms/step
Epoch 9/50
804/804 - 1s - loss: 18321.9062 - accuracy: 0.5438 - 1s/epoch - 1ms/step
Epoch 10/50
804/804 - 1s - loss: 13909.8652 - accuracy: 0.5010 - 1s/epoch - 1ms/step
Epoch 11/50
804/804 - 1s - loss: 2343.6089 - accuracy: 0.5616 - 1s/epoch - 1ms/step
Epoch 12/50
804/804 - 1s - loss: 8511.6270 - accuracy: 0.5709 - 1s/epoch - 1ms/step
Epoch 13/50
804/804 - 1s - loss: 2595.6096 - accuracy: 0.5566 - 1s/epoch - 1ms/step
Epoch 14/50
804/804 - 1s - loss: 17648.8906 - accuracy: 0.5717 - 1s/epoch - 1ms/step
Epoch 15/50
804/804 - 1s - loss: 9651.9082 - accuracy: 0.5736 - 1s/epoch - 1ms/step
Epoch 16/50
804/804 - 1s - loss: 11081.1396 - accuracy: 0.5422 - 1s/epoch - 1ms/step
Epoch 17/50
804/804 - 1s - loss: 6706.6782 - accuracy: 0.5459 - 1s/epoch - 1ms/step
Epoch 18/50
804/804 - 1s - loss: 6674.2217 - accuracy: 0.5535 - 1s/epoch - 1ms/step
Epoch 19/50
804/804 - 1s - loss: 10195.2695 - accuracy: 0.5717 - 1s/epoch - 1ms/step
Epoch 20/50
804/804 - 1s - loss: 1356.0164 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 21/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 22/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 23/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 24/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 25/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 26/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 27/50
804/804 - 1s - loss: 0.6910 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 28/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 29/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 30/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 31/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 32/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 33/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 34/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 35/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 36/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 37/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 38/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 39/50
804/804 - 1s - loss: 0.6910 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 40/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 41/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 42/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 43/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 44/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 45/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 46/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 47/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 48/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 49/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step
Epoch 50/50
804/804 - 1s - loss: 0.6909 - accuracy: 0.5335 - 1s/epoch - 1ms/step

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [27]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled,
    y_test,
    verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 1.3421 - accuracy: 0.6983 - 538ms/epoch - 2ms/step
Loss: 1.3421186208724976, Accuracy: 0.698309063911438

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [28]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

# Download your model to your computer

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [29]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [30]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [31]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) // 3

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

39

In [32]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + number_output_neurons_A1) // 3

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

13

In [33]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = (hidden_nodes_layer2_A1 + number_output_neurons_A1) //3

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A1

4

In [34]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [35]:

# First hidden layer
nn_A1.add(
    Dense(
        units=hidden_nodes_layer1_A1,
        activation='relu',
        input_dim=number_input_features
    )
)

nn_A1.add(
    Dense(
        units=hidden_nodes_layer2_A1,
        activation='relu'
    )
)

nn_A1.add(
    Dense(
        units=hidden_nodes_layer3_A1,
        activation='relu'
    )
)
# Output layer
nn_A1.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)
# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 39)                4563

 dense_4 (Dense)             (None, 13)                520

 dense_5 (Dense)             (None, 4)                 56

 dense_6 (Dense)             (None, 1)                 5

=================================================================
Total params: 5,144
Trainable params: 5,144
Non-trainable params: 0
_________________________________________________________________

In [36]:
# Compile the Sequential model
nn_A1.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [37]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(
    X_train_scaled,
    y_train,
    epochs=50, 
    verbose=1
)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5761 - accuracy: 0.7215
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7318
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7314
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7314
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7332
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7319
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7324
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7337
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7336
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7343
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7342
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7337
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5410 - accuracy: 0.7342
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7339
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5406 - accuracy: 0.7351
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7347
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7355
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7352
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7351
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7341
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7347
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7358
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7352
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7361
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7351
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7353
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7353
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7365
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7364
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7365
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7356
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7354
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7354
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7360
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7362
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7364
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7363
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7365
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7365
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7358
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7364
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7367
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7368
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7368
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7367
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7372
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7377
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7370
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7371
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7380

#### Alternative Model 2

In [38]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [39]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [40]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons_A2) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [41]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + number_output_neurons_A2) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

29

In [42]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [43]:
# First hidden layer
nn_A2.add(
    Dense(
        units=hidden_nodes_layer1_A2,
        activation='relu',
        input_dim=number_input_features,
    )
)

nn_A2.add(
    Dense(
        units=hidden_nodes_layer2_A2,
        activation='relu'
    )
)
# Output layer
nn_A2.add(
    Dense(
        units=1,
        activation='sigmoid'
        )
)
# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 58)                6786

 dense_8 (Dense)             (None, 29)                1711

 dense_9 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn_A2.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [45]:
# Fit the model
fit_model_A2 = nn_A2.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [46]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled,
    y_test,
    verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 1.3421 - accuracy: 0.6983 - 323ms/epoch - 1ms/step
Loss: 1.3421186208724976, Accuracy: 0.698309063911438

In [47]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(
    X_test_scaled,
    y_test,
    verbose=1
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 1s 3ms/step - loss: 0.5571 - accuracy: 0.7286
Loss: 0.557079553604126, Accuracy: 0.7286297082901001

In [48]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(
    X_test_scaled,
    y_test,
    verbose=0
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
Loss: 0.5573771595954895, Accuracy: 0.7272303104400635

### Step 3: Save each of your alternative models as an HDF5 file.

In [49]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

# Download the model to your computer

In [50]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)

# Download the model to your computer